
li{
    list-style: none;
}
.section1{
    background-image: url("../img/page-1_slide2.jpg");
}
.section2{
    background-image: url("../img/FirstScreen.jpg");

}
.section3{
    background-image: url("../img/FirstScreen3.jpg");

}
.section4{
    background-image: url("../img/parallax1.jpg");

}
div.box{
    width:100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
}
.section{
    background-size: cover;
}

.section1 h4{
    transform: translateY(-150px);
    font-size: 50px;
    width:100%;
    text-align: center;
    font-family: "华文隶书";
    color: #ffffff;
    transition: all 1s;
}
.active h4{
    transform: translateY(30px);
    transition: all 1s;
}

.section1 h2{
    transform: translateY(-100px);
    font-size: 40px;
    width:100%;
    text-align: center;
    font-family: "华文隶书";
    color: #ffffff;
    transition: all 1s;
}
.active h2{
    transform: translateY(0px);
    transition: all 1s;
}
.section1 p{
    transform: scale(0.3);
    transition: all 1s;
    margin:0 auto;
    font-size: 20px;
    width:50%;
    text-align: center;
    font-family: "华文隶书";
    color: #ffffff;
}
.active p{
    transform: scale(1);
    transition: all 1s;
}
div.section1box{
    width: 100%;
    height: 150px;
    opacity:0.9;
}
div.section1box ul{
    width: 1000px;
    height: 100%;
    display: flex;
    margin:60px auto;
}
div.section1box ul li{
    width: 30%;
    margin-right: 90px;
    position: relative;
    list-style: none;
    overflow: hidden;
    transition: all 1s;
}
.active div.section1box ul li:first-child{
    transform: translateX(0);
}
.active div.section1box ul li:nth-child(2){
    transform: translateY(0);
}
.active div.section1box ul li:last-child{
    transform: translateX(0);
}
div.section1box ul li:first-child{
   transform: translateX(-600px);
}
div.section1box ul li:nth-child(2){
    transform: translateY(300px);
}
div.section1box ul li:last-child{
    transform: translateX(600px);
}

div.section1box ul li img:hover{
    transition:all 0.5s;
    transform: scale(1.1);
}
div.section1box ul li img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    transition:all 0.5s;
}
div.section1box ul li .cover{
    width:80%;
    height: 80%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    border-radius: 10px;
}
.cover >span:first-child{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-weight:bold;
    font-family: "宋体";
}
.cover >span:last-child{
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #3AB3E6;
    font-family: "华文隶书";
}

.section2 h3{
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    transform: translateY(-600px);
    transition: all 1s;
}
.active h3{
    transform: translateY(100px);
}
.section2 ul{
    width:100%;
    height: 150px;
    display: flex;
    margin: 0;
    padding: 0;
}

.section2 ul li{
    width: 25%;
    height:100%;
    text-align: center;
    position: relative;
}
.section2 ul li:nth-child(1){
    transform: translateY(400px);
    transition: all 1s;
}
.section2 ul li:nth-child(2){
    transform: translateY(520px);
    transition: all 1s;
}
.section2 ul li:nth-child(3){
    transform: translateY(640px);
    transition: all 1s;
}
.section2 ul li:nth-child(4){
    transform: translateY(760px);
    transition: all 1s;
}
.active ul li:nth-child(1),.active ul li:nth-child(2),
.active ul li:nth-child(3),.active ul li:nth-child(4){
    transform: translateY(160px);
}

.section2 ul li span{
    width: 100%;
    display: block;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.section3 h1{
    font-size:60px;
    font-weight:200;
    color: #ffffff;
    text-align: center;
    transition: all 1s;
    transform: translateY(-180px);
}
.active h1{
    transform: translateY(0px);
}
.section3 section{
    width: 200px;
    height: 1px;
    background: green;
    margin: 20px auto;
    transform: scale(0.2);
    transition: all 1s;
}
.active section{
    transform: scale(1);
}
.section3 ul{
    width:100%;
    height: 200px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    transition: all 1s;
}
.section3 ul .li3{
    width: 20%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.section3 ul .li3:nth-child(1){
    transform: translateX(-800px);
    transition: all 1s;
}
.section3 ul .li3:nth-child(2){
    transform: translateX(-400px);
    transition: all 1s;
}
.section3 ul .li3:nth-child(3){
    transform: translateX(800px);
    transition: all 1s;
}
.section3 ul .li3:nth-child(4){
    transform: translateX(400px);
    transition: all 1s;
}

.active ul li.li3:nth-child(1),.active ul li.li3:nth-child(2),
.active ul li.li3:nth-child(3),.active ul li.li3:nth-child(4){
    transform: translateX(0);
    transform: translateY(50px);
}
.section3 .cover{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    opacity:0.4;
}
.section3 span{
    position: absolute;
    bottom: 50px;
    display: block;
    width:100%;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    transition: all 1s;
}
.section3 ul li img{
    display: block;
    width:100%;
    height: 100%;
}

.section3 ul li span:hover{
    transform: scale(1.1);
}
.section3 .all{
    width: 200px;
    height: 60px ;
    border: 1px solid #ffffff;
    transform: translateY(330px);
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    transition: all 1s;
}
.active .all{
    transform: translateY(130px);
}
.section3 .all:hover{
    background: rgba(255,255,255,0.4);
    color: #000;
}

.section4 section{
    color: #ffffff;
    font-size: 60px;
    font-weight:200;
    text-align: center;
    transition: all 1s;
    transform: translateY(-180px);
}
.active section.ready{
    transform: translateY(180px);
}
.section4 .go{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
    transition: all 1s;
    transform: translateY(1000px);
}
.active .go{
    transform: translateY(350px);
    transition: all 1s;
}