


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
main{
    width:100%;
    height:auto;
}



/* header start */
header{
    width: 100%;
    height: 80px;
    /*background: red;*/
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.header-left{
    width: 180px;
    height: 40px;
    /*background: green;*/
    margin-left: 8%;

}
.header-left >img{
    display: block;
    float: left;
    margin-top: 5px;
}
.header-left >span{
    font-size: 30px;
    line-height: 40px;
    float: left;
}
.header-left-span-1{
    color: #E4012E;
}
.header-left-span-2{
    color: #1A1F2C;
}
.header-right{
    width: 650px;
    height: 40px;
    /*background: green;*/
    margin-right: 8%;
}
.header-right >ul{
    width: 100%;
    height: 100%;

}
.header-right >ul >li{
    width: auto;
    height: auto;
    float: left;
    padding: 8px 18px;
    box-sizing: border-box;
    transition: background 0.5s;
}
.header-right >ul >li:hover{
    background: #E4012E;
    transition: background 0.5s;
}
.header-right >ul >li:hover >a{
    color: #fff;
}
.header-right >ul >li:last-child{
    background: #E4012E;
}
.header-right >ul >li:last-child a{
    color: #fff;
}
.header-right >ul >li >a,.header-right >ul >div{
    font-size: 14px;
    color: #384050;
}
.header-right >ul >div{
    margin: 8px 2px;
    float: left;
    color: #D0D0D0;
}
/*   header end  */

/*contact start*/
.contact-mian{
    border-top:3px solid #DDDDDD;
}
.contact{
    width: 1160px;
    height: 501px;
    margin:50px auto;
    /*background: red;*/
}
.contact >h2{
    text-align: center;
    font-size: 35px;
    color: #333333;
}
.contact-line{
    width:150px;
    height: 1px;
    background: #000;
    margin: 20px auto 50px;
}
.contact >p{
    color: #999999;
    text-align: center;
}
.contact-icon{
    /*background: green;*/
    width: 100%;
    height: 110px;
    margin: 60px auto;
}
.contact-icon >li{
    height: 100%;
    /*background: pink;*/
    text-align: center;
}
.contact-icon >li >div{

}
.contact-icon >li >div >a{
    font-size: 80px;
    color: #E4012E;
}
.contact-icon >li >div >a:hover{
    color: #333333;
}
.contact-icon >li >a{
    font-size: 16px;
    color: #000;
}
.contact-icon >li >a:hover{
    text-decoration: underline;
}
/*contact end*/

/*联系人表格开始*/
.cont-main{
    background: #D0D0D0;
    margin-top: -50px;
}
.cont{
    width: 1160px;
    height: 491px;
    margin:0 auto;
    overflow: hidden;
}
.cont >h2{
    font-size: 35px;
    color: #333333;
    text-align: center;
    margin:50px auto 0;
}
.cont-line{
    width: 150px;
    height: 1px;
    background: #000;
    margin: 20px auto 50px;
}
.input-left,.input-right{
    height: 220px;
    /*background: yellow;*/
}
.input-left >input{
    width: 95%;
    height: 30px;
    margin:10px auto;
    padding:10px;
}
.input-right >textarea{
    width: 100%;
    height: 70%;
    resize: none;   /*禁止拖动大小*/
}
.send{
    width: 130px;
    height: 50px;
    background: #E4012E;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 14px;
    float: right;
    margin-top: 30px;
    transition: all 0.3s;
}
.send:hover{
    background: none;
    border:1px solid #E4012E;
    color: #E4012E;
    transition: all 0.3s;
}
/*联系人表格结束*/



/*footer*/
footer{
    width: 100%;
    height: 300px;
    background: #1E283A;
    overflow: hidden;
}
.footer{
    width: 1160px;
    height: 134px;
    padding:0 auto;
    margin-top: 80px;
    /*background: red;*/
}
.footer-left,.footer-right{
    width: 400px;
    height: 100%;
    /*background: green;*/
    float: left;
    color: #FFFFFF;
}
.footer-left{
    margin-left:8%;
}
.footer-left >h4,.footer-right >h4{
    width: 100%;
    height: 24px;
    margin-top: 20px;
}
.footer-left >h2{
    width: 40%;
    height: 30px;
    float: left;
    font-size: 30px;
}
.footer-left >p{
    width: 60%;
    height: 30px;
    font-size: 14px;
    float: left;
    line-height: 50px;
}
.footer-left >ul{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    color: #FFFFFF;
}
.footer-left >ul >li{
    width: 10%;
    height: 100%;
    float: left;
}
.footer-left >ul >li >a{
    font-size: 25px;
    color: #FFFFFF;
}
.footer-left >ul >li >a:hover{
    color: #E4012E;
}
.footer-right >p{
    font-size: 12px;
    line-height: 20px;
}
/*footer*/
