


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
main{
    width:100%;
    height:auto;
}



/* header start */
header{
    width: 100%;
    height: 80px;
    /*background: red;*/
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.header-left{
    width: 180px;
    height: 40px;
    /*background: green;*/
    margin-left: 8%;

}
.header-left >img{
    display: block;
    float: left;
    margin-top: 5px;
}
.header-left >span{
    font-size: 30px;
    line-height: 40px;
    float: left;
}
.header-left-span-1{
    color: #E4012E;
}
.header-left-span-2{
    color: #1A1F2C;
}
.header-right{
    width: 650px;
    height: 40px;
    /*background: green;*/
    margin-right: 8%;
}
.header-right >ul{
    width: 100%;
    height: 100%;

}
.header-right >ul >li{
    width: auto;
    height: auto;
    float: left;
    padding: 8px 18px;
    box-sizing: border-box;
    transition: background 0.5s;
}
.header-right >ul >li:hover{
    background: #E4012E;
    transition: background 0.5s;
}
.header-right >ul >li:hover >a{
    color: #fff;
}
.header-right >ul >li:nth-child(7){
    background: #E4012E;
}
.header-right >ul >li:nth-child(7) a{
    color: #fff;
}
.header-right >ul >li >a,.header-right >ul >div{
    font-size: 14px;
    color: #384050;
}
.header-right >ul >div{
    margin: 8px 2px;
    float: left;
    color: #D0D0D0;
}
/*   header end  */

/*solution start*/
.solution-main{
    border-top: 3px solid #CCCCCC;
}
.solution{
    width: 1160px;
    height: 550px;
    /*background: pink;*/
    margin:0 auto;
    overflow: hidden;
}
.solution >h3{
    text-align: center;
    font-size: 35px;
    color: #333333;
    margin:30px auto;
}
.solution-line{
    width: 100px;
    height: 1px;
    background: #000;
    margin:30px auto;
}
.solution-icon{
    width: 100%;
    height: 340px;
    /*background: red;*/
}
.solution-icon >li{
    height: 100%;
    /*background: green;*/
    position: relative;
}
.solution-icon >li >div{
    width: 107px;
    height: 139px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -53px;
    margin-top: 10px;
}
.solution-icon >li >div:hover img{
    left: 0;
}
.solution-icon >li >div >img{
    display: block;
    position: absolute;
    left:-107px;
}
.solution-icon >li >div >a{
    position: absolute;
    top: 30px;
    left: 34px;
    font-size: 35px;
    color: #42637D;
    z-index:20;
}
.solution-icon >li >h5{
    margin:167px auto 10px;
    text-align: center;
    font-size: 20px;
    color: #444444;
}
.solution-icon >li >p{
    font-size: 12px;
    color: #c2c2c2;
    text-align: center;
}
.solution-icon >li >.bofang{
    text-align: center;
    margin-top: 20px;
}
.solution-icon >li >.bofang >a{
    color: #E4012E;
    font-size: 20px;
}
.solution-icon >li >.bofang >a:hover{
    color: #333333;
}
/*solution end*/

/*global start*/
.global-main{
    background: #E1E2E4;
}
.global{
    width: 1160px;
    height: 640px;
    /*background: green;*/
    margin:0px auto;
    overflow: hidden;
}
.global >h3{
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-top: 50px;
}
.global-line{
    width: 150px;
    height: 1px;
    background: #000;
    margin: 20px auto;
}
.box{
    width: 100%;
    height: 406px;
    /*background: pink;*/
    margin-top:40px;
}
.box-left{
    width: 40%;
    height: 100%;
    /*background: yellow;*/
    float: left;
}
.box-left >img{
    display: block;
    width: 100%;
    height:100%;
}
.box-right{
    width: 58%;
    height: 100%;
    /*background: blue;*/
    float: left;
    padding-left: 2%;
}
.box-right >h5{
    font-size: 18px;
    color: #333333;
}
.box-right >span{
    display: block;
    font-size: 12px;
    color: #E4012E;
    margin-bottom: 40px;
}
.box-right >p{
    font-size: 12px;
    color: #999999;
    margin-bottom: 30px;
    line-height: 18px;
}
/*global end*/

/*save start*/
.save{
    width: 1160px;
    height: 550px;
    /*background: pink;*/
    margin:0 auto;
    overflow: hidden;
}
.save >h3{
    text-align: center;
    font-size: 35px;
    color: #333333;
    margin:30px auto;
}
.save-line{
    width: 100px;
    height: 1px;
    background: #000;
    margin:30px auto;
}
.save-icon{
    width: 100%;
    height: 340px;
    /*background: red;*/
}
.save-icon >li{
    height: 100%;
    /*background: green;*/
    position: relative;
}
.save-icon >li >div{
    width: 107px;
    height: 139px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -53px;
    margin-top: 10px;
}
.save-icon >li >div:hover img{
    left: 0;
}
.save-icon >li >div >img{
    display: block;
    position: absolute;
    left:-107px;
}
.save-icon >li >div >a{
    position: absolute;
    top: 30px;
    left: 34px;
    font-size: 35px;
    color: #42637D;
    z-index:20;
}
.save-icon >li >h5{
    margin:167px auto 10px;
    text-align: center;
    font-size: 20px;
    color: #444444;
}
.save-icon >li >p{
    font-size: 12px;
    color: #c2c2c2;
    text-align: center;
}
.save-icon >li >.bofang{
    text-align: center;
    margin-top: 20px;
}
.save-icon >li >.bofang >a{
    color: #E4012E;
    font-size: 20px;
}
.save-icon >li >.bofang >a:hover{
    color: #333333;
}
/*save end*/

/*we konw how */
.how{
    width:100%;
    height: 255px;
    /*background: red;*/
    position: relative;
}
.we-how{
    width: 100%;
    height: 255px;
    position: relative;
}
.we-how >img{
    display: block;
    width: 100%;
    height: 100%;
}
.we-how-wen{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -35%;
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
}
.we-how-wen >h2{
    font-size: 30px;
    font-weight: 500;
}
.we-how-wen >p{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}
.we-how-wen >h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom:20px;
}
.we-how-wen >a{
    font-size: 20px;
    color: #FFFFFF;
}
.we-how-wen >a:hover{
    color: #333333;
}

/*we konw how */

/*footer*/
footer{
    width: 100%;
    height: 300px;
    background: #1E283A;
    overflow: hidden;
}
.footer{
    width: 1160px;
    height: 134px;
    padding:0 auto;
    margin-top: 80px;
    /*background: red;*/
}
.footer-left,.footer-right{
    width: 400px;
    height: 100%;
    /*background: green;*/
    float: left;
    color: #FFFFFF;
}
.footer-left{
    margin-left:8%;
}
.footer-left >h4,.footer-right >h4{
    width: 100%;
    height: 24px;
    margin-top: 20px;
}
.footer-left >h2{
    width: 40%;
    height: 30px;
    float: left;
    font-size: 30px;
}
.footer-left >p{
    width: 60%;
    height: 30px;
    font-size: 14px;
    float: left;
    line-height: 50px;
}
.footer-left >ul{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    color: #FFFFFF;
}
.footer-left >ul >li{
    width: 10%;
    height: 100%;
    float: left;
}

.footer-left >ul >li >a{
    font-size: 25px;
    color: #FFFFFF;
}
.footer-left >ul >li >a:hover{
    color: #E4012E;
}
.footer-right >p{
    font-size: 12px;
    line-height: 20px;
}
/*footer*/



